.inline-form {
	overflow: hidden;

	.field {
		float: left;
		& + .field {
			margin-left: 0.4em;
		}
	}

	.description-field {
		width: 15em;
	}

	.amount-field {
		width: 4.4em;
	}

	.actions {
		clear: both;
		float: right;
	}

	.toggle-radio-group [type="radio"] {
		@include toggle-radio;
	}
}